# Core
python-dotenv       
fastapi             
uvicorn             
pydantic            

# LangChain + LLMs
langchain
langchain-core
langchain-community
langchain-google-genai   
openai                   

neo4j
# Data processing
PyPDF2               
# pymupdf             
youtube-transcript-api   
# tiktoken           
nltk                


faiss-cpu            # vector DB for retrieval
chromadb             # alternative lightweight vector store

# Utils
requests
# httpx

